version: 2
jobs:
  build:
    docker:
      - image: cimg/node:21.6.1-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install-dependencies
          command: npm install
      - run:
          name: lint
          command: npm run lint
      - run:
          name: test
          command: npm run test
  deploy:
    docker:
      - image: cimg/node:21.6.1-browsers
      - image: cimg/aws:2023.12
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install-dependencies
          command: npm install
      - run:
          name: lint
          command: npm run lint
      - run:
          name: test
          command: npm run test
      - run:
          name: deploy
          command: npm run deploy
          environment:
            NODE_OPTIONS: --max_old_space_size=4096

workflows:
  version: 2
  master:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
  pr:
    jobs:
      - build:
          filters:
            branches:
              ignore: master
