version: 2
jobs:
  build:
    docker:
      - image: circleci/node:16-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install-apps
          working_directory: /
          command: |
              wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
              sudo apt-get -y -qq update
              sudo apt install python-pip python-dev
              sudo pip install awscli
      - run:
          name: install-dependencies
          command: npm install
      - run:
          name: lint
          command: npm run lint
      - run:
          name: test
          command: npm run test
  deploy:
    docker:
      - image: circleci/node:16-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install-apps
          working_directory: /
          command: |
              sudo apt-get -y -qq update
              sudo apt install python-pip python-dev
              sudo pip install awscli
      - run:
          name: install-dependencies
          command: npm install
      - run:
          name: lint
          command: npm run lint
      - run:
          name: test
          command: npm run test
      - deploy:
          command: npm run deploy
          environment:
            NODE_OPTIONS: --max_old_space_size=4096

workflows:
  version: 2
  master:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
  pr:
    jobs:
      - build:
          filters:
            branches:
              ignore: master
