* {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
/*
h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
}
*/
html, body, #root {
  background: rgb(238, 238, 238);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 24px;
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
}

* {
  box-sizing: border-box;
}

button a, button a:link, button a:visited, button a:hover {
  color: #222;
  text-decoration: none;
}

a, a:link {
  color: #222;
}

a:hover {
  color: #5874bf;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
}