* {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
/*
h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
}
*/
html, body, #root {
  background: rgb(238, 238, 238);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 24px;
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
}

* {
  box-sizing: border-box;
}

button a, button a:link, button a:visited, button a:hover {
  color: #222;
  text-decoration: none;
}

a, a:link {
  color: #222;
}

a:hover {
  color: #5874bf;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
}

div[data-form='3426454:l5f7t9'] #mlb2-3426454.ml-form-embedContainer .ml-form-align-center {
  text-align: left;
}

div[data-form='3426454:l5f7t9'] #mlb2-3426454.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody {
  padding: 16px 0 0 0;
}

div[data-form='3426454:l5f7t9'] #mlb2-3426454.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4 {
  color: #4b4b4b;
  font-size: 24px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

div[data-form='3426454:l5f7t9'] #mlb2-3426454.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p {
  color: #878787;
  font-size: 16px;
  line-height: 1.6;
}
