* {
  font-family: 'Helvetica', sans-serif;
}

html, body, #root {
  background: #262a2c;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 24px;
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
}

* {
  box-sizing: border-box;
}
